# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a


Debug/
ipch/
Release/
x64/
NeuralNetworkCLI/Debug/
NeuralNetworkCLI/Release/
NeuralNetworkCLI/x64/
NeuralNetworkLibrary/Debug/
NeuralNetworkLibrary/Release/
NeuralNetworkLibrary/x64/
NeuralNetworkOCR/bin/x64/
NeuralNetworkOCR/bin/x86/

# Visual Studio files
*.sdf
*.suo
*.opensdf
